.kdev_include_paths
*.kdev4
*.o
*.os
*.so
*.pyc
moc_*
*.moc
.sconf_temp
qrc_*
*.qm
/doc
.sconsign.dblite
Doxyfile
Makefile
*.log
init.env
posix_build.conf

/qremotesignal/QRemoteSignal.pc
/qremotesignal/QRemoteSignalConfig.cmake
/qremotesignal/qremotesignal_pch.h.gch
/qremotesignal/qremotesignal.prf

/qrsc/qrsc_pch.h.gch
/qrsc/qrsc
/qrsc/config.h
/qrsc/man


/tests/*Tests
/tests/*TestSuit*
/tests/*.report.xml
/tests/*.moc
/tests/moc_*
/tests/.sconsign.dblite
/tests/*service.cpp
/tests/*service.h
/tests/*client.cpp
/tests/*client.h
/tests/.kdev_include_paths
/tests/*.gch

/tests/autoconnect/autoconnectservice*
/tests/autoconnect/autoconnectclient*

/tests/customtypestest/*service.h
/tests/customtypestest/*service.cpp
/tests/customtypestest/*client.h
/tests/customtypestest/*client.cpp

